DATABASE_URL="postgresql://user:password@localhost:5432/visitor_db"
JWT_SECRET="sua-chave-super-secreta-com-pelo-menos-16-caracteres"
JWT_EXPIRATION="24h"
API_KEY="sua-api-key-de-aplicacao"
PORT=3000
NODE_ENV=development
ADMIN_EMAIL=""
ADMIN_PASSWORD=""